@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif ;
   /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#F4DFC0,#F18274);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #9c5046;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p {
    text-align: justify;
}
h1 {
    color:#D83F37 ;
    text-align: center;
    text-shadow: 1px 1px 2px  #a32f28;
}
h2 {
    color:#F2B53B ;
}
