@charset "UTF-8";
        body{
            background-color: rgba(166, 206, 186, 0.685);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 18px ;
        }
        h1{
            color: rgb(131, 88, 167);
        }
        h2{
            color:rgb(115, 163, 190);
        }
        p{
            text-align: justify;
        }
 