@charset "UTF-8";

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela inteira */
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

.circle {
    width: 200px; /* Largura do círculo */
    height: 200px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento ser um círculo */
    overflow: hidden; /* Esconde a parte da imagem que ultrapassa o círculo */
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
}

.circle img {
    width: 100%; /* Faz a imagem ocupar 100% da largura do círculo */
    height: 100%; /* Faz a imagem ocupar 100% da altura do círculo */
    object-fit: cover; /* Faz a imagem cobrir o círculo sem distorcer */
    position: absolute; /* Permite que a imagem se ajuste ao contêiner */
    top: 50%; /* Posiciona a imagem no centro verticalmente */
    left: 50%; /* Posiciona a imagem no centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a imagem em relação ao círculo */
}
button {
    cursor: pointer;
}
